header {
    background-color: #E0EAF3;
    padding: 1rem;
    position: relative;

    .logo{
        position: absolute;
        left: 8px;
        top: 8px;
        cursor: pointer;
    }
    nav{
        display: none;
    }
    .flex{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap:1rem;
        align-items: center;

        .btnNav{
            all:unset;
            padding: 0.5rem 1.5rem;
            font-weight: 500;
            font-size: 0.7rem;
            color: #fff;
            text-transform: uppercase;
            cursor: pointer;

            border-radius: 9px;
            background-color: #F86642;

        }
        .menu{
            margin:0;
            display: flex;
            flex-direction: column;
            gap: 3px; 

        .nav{
            background-color: #F86642;
            height: 2px;
            width: 20px;
            }
        }
  }
}