@font-face {
    font-family: Montserrat;
    src: url(fonts/static/Outfit-ExtraLight.ttf);
  }

  * {
    box-sizing: border-box;
  }
  :root{
    --background-color: #E0EAF3;
    --dark-color: #292526;
    --orange-color:#F86642;
    --size-1:1.25rem;
    --size-2:1.5rem;
    --size-3:1.75rem;
    --size-4:2rem;
    --size-5:2.25rem;
    --size-6:2.5rem;
    --size-7:2.75rem;
    --size-8:3rem;
    --size-9:3.25rem;
    --size-10:3.5rem;
    --size-11:3.75rem;
    --size-12:4rem;
    --size-13:4.25rem;
    --size-14:4.5rem;
    --size-15:4.75rem;
    --size-16:5rem;
  }
  
  html {
    width: 100vw;
  }

  body {
    margin: 0;
    font-family: Montserrat;
  }

@media all and (min-width:768px){
    header{ 
        display: flex;
        gap:2rem;
        justify-content: space-around;
        align-items: center;
        .logo{
            position: relative;
        }
        nav{
            display: flex;
            flex-direction: row;
            gap:2rem;
            font-size: 0.8rem;
            .list{
                all:unset;
                color:#1D1D1B;
                font-weight: 600;
                text-transform: uppercase;
                &.about{
                    color:#F86642;
                }
            }
        }
            .btnNav{
                all:unset;
                padding: 0.5rem 1.5rem;
                font-weight: 500;
                font-size: 0.7rem;
                color: #fff;
                text-transform: uppercase;
                cursor: pointer;
        
                border-radius: 9px;
                background-color: #F86642;
        
            }
            .flex{
                .btnNav{
                    text-align: center;
                }
            }
            .menu{     
                .nav{
                    display: none;
                    }
            }
        }
}
@media all and (min-width:950px){
    // #heropage{

    // }
}