@font-face {
    font-family: Montserrat;
    src: url(fonts/static/Outfit-ExtraLight.ttf);
  }

  * {
    box-sizing: border-box;
  }
  :root{
    --background-color: #E0EAF3;
    --dark-color: #292526;
    --orange-color:#F86642;
    --size-1:1.25rem;
    --size-2:1.5rem;
    --size-3:1.75rem;
    --size-4:2rem;
    --size-5:2.25rem;
    --size-6:2.5rem;
    --size-7:2.75rem;
    --size-8:3rem;
    --size-9:3.25rem;
    --size-10:3.5rem;
    --size-11:3.75rem;
    --size-12:4rem;
    --size-13:4.25rem;
    --size-14:4.5rem;
    --size-15:4.75rem;
    --size-16:5rem;
  }
  
  html {
    width: 100vw;
  }

  body {
    margin: 0;
    font-family: Montserrat;
  }
  header {
    background-color: #E0EAF3;
    padding: 1rem;
    position: relative;

    .logo{
        position: absolute;
        left: 8px;
        top: 8px;
        cursor: pointer;
    }
    nav{
        display: none;
    }
    .flex{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap:1rem;
        align-items: center;

        .btnNav{
            all:unset;
            padding: 0.5rem 1.5rem;
            font-weight: 500;
            font-size: 0.7rem;
            color: #fff;
            text-transform: uppercase;
            cursor: pointer;

            border-radius: 9px;
            background-color: #F86642;

        }
        .menu{
            margin:0;
            display: flex;
            flex-direction: column;
            gap: 3px; 

        .nav{
            background-color: #F86642;
            height: 2px;
            width: 20px;
            }
        }
  }
}
#heropage{
    text-align: center;
    background-color: #E0EAF3;

    .tittle{
        font-weight: 700;
        color: #1D1D1B;
        padding: 1rem 1rem;
             font-size: 2rem;
            text-align: center;
        .detail{
            color:#F86642;
        }
    }
    .benefits{
        padding-bottom: 1rem;
        display: flex;
        flex-direction: row;
        gap:0.5rem;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        .check{
            color:#F86642;
        }
    }
    .btnTrial{
        all:unset;
        margin-bottom: 2rem;
        border-radius: 15px;
        backdrop-filter: blur(20px);
        background: linear-gradient((91.39deg, rgba(248, 102, 66, 0.75) 18.73%, rgba(248, 102, 66, 0.9) 100%));

        color:#fff;
        padding: 0.5rem 1.5rem;
        text-transform: uppercase;
        font-weight: 500;
        cursor: pointer;
    }
    .people{
        width: 70%;
    }
    .help{
        background-color: #292526;
        .tittle{
            padding: 2rem 0;
            color:#fff;
            font-size: 1.5rem;
            font-weight: 500;
        }
        .flex{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .customers{
                width: 25%;
                border-right: solid 1px #F86642;
            }
    }
}
}
@media all and (min-width:768px){
    header{ 
        display: flex;
        gap:2rem;
        justify-content: space-around;
        align-items: center;
        .logo{
            position: relative;
        }
        nav{
            display: flex;
            flex-direction: row;
            gap:2rem;
            font-size: 0.8rem;
            .list{
                all:unset;
                color:#1D1D1B;
                font-weight: 600;
                text-transform: uppercase;
                &.about{
                    color:#F86642;
                }
            }
        }
            .btnNav{
                all:unset;
                padding: 0.5rem 1.5rem;
                font-weight: 500;
                font-size: 0.7rem;
                color: #fff;
                text-transform: uppercase;
                cursor: pointer;
        
                border-radius: 9px;
                background-color: #F86642;
        
            }
            .flex{
                .btnNav{
                    text-align: center;
                }
            }
            .menu{     
                .nav{
                    display: none;
                    }
            }
        }
}
@media all and (min-width:950px){
    // #heropage{

    // }
}