#heropage{
    text-align: center;
    background-color:var(--background-color);

    .tittle{
        font-weight: 700;
        padding: var(--size-4);
             font-size: var(--size-8);
            text-align: center;
        .detail{
            color:var(--orange-color);
        }
    }
    .gridBenefit{
        .benefits{
            padding-bottom: var(--size-3);
            display: flex;
            flex-direction: row;
            gap: var(--size-2);
            align-items: center;
            justify-content: center;
            font-weight: 500;
            .check{
                color:var(--orange-color);
            }
    }
}
    .btnTrial{
        all:unset;
        margin-bottom: var(--size-8);
        border-radius: 15px;
        backdrop-filter: blur(20px);
        background: linear-gradient((91.39deg, rgba(248, 102, 66, 0.75) 18.73%, rgba(248, 102, 66, 0.9) 100%));

        color:#fff;
        padding: var(--size-2) var(--size-6);
        text-transform: uppercase;
        font-weight: 500;
        cursor: pointer;
    }
    .people{
        width: 65%;
    }
    .help{
        background-color:var(--dark-color);
        .tittle{
            padding: 2rem 0;
            color:#fff;
            font-size: var(--size-6);
            font-weight: 500;
        }
        .flex{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .customers{
                width: 25%;
                border-right: solid 1px var(--orange-color);
            }
    }
}
}
@media all and (min-width:768){
    #heropage{
        display: flex;
        flex-direction: row;
        align-items: center;
        .tittle{
            font-size: var(--size-8);
        }
        .gridBenefit{
            display: grid;
            grid-template-rows: repeat(3,1fr);
            justify-content: center;
            gap: var(--size-4);

            .benefits{
                font-size: var(--size-10);
            }
        }
        .help{
            background-color:var(--dark-color);
            .tittle{
                padding: 2rem 0;
                color:#fff;
                font-size: var(--size-6);
                font-weight: 500;
            }
            .flex{
                gap: var(--size-7);
                .customers{
                    width: 15%;
        }
    }
        }
    }
}