#hero{
    background-color:var(--background-color);
    // max-width: 1200px; 
    // margin:auto; 
    text-align: center;
    

    .tittle{
        max-width: 1600px; 
        margin:auto; 
        font-weight: 700;
        padding: var(--size-6);
        font-size: var(--size-8);
        text-align: center;
        .detail{
            color:var(--orange-color);
        }
    }
    .benefitsFlex{
        .benefits{
            max-width: 1200px; 
            margin:auto; 
            padding-bottom: var(--size-3);
            display: flex;
            // flex-direction: row;
            gap: var(--size-2);
            align-items: center;
            justify-content: center;
            font-weight: 500;

            animation-name: fadeIn;
            animation-duration: 5s;
            .check{
                color:var(--orange-color);
            }
    }
}
    .btnTrial{
        all:unset;
        margin-bottom: var(--size-8);
        border-radius: 15px;
        backdrop-filter: blur(20px);
        background: linear-gradient((91.39deg, rgba(248, 102, 66, 0.75) 18.73%, rgba(248, 102, 66, 0.9) 100%));

        color:#fff;
        padding: var(--size-2) var(--size-6);
        text-transform: uppercase;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    .btnTrial:hover {
      transform: translateY(-10px);
      background-color: var(--orange-color);
    }
    .people{
        max-width: 1200px; 
        margin:auto; 
        width: 65%;
    }
    .help{
        background-color:var(--dark-color);
        width: 100%;
        .tittle{
            padding: var(--size-8) 0;
            color:#fff;
            font-size: var(--size-6);
            font-weight: 500;
        }
        .flex{
            max-width: 1600px;
            margin: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .customers{
                width: 25%;
                border-right: solid 1px var(--orange-color);
                &.last{
                    border: none;
                }
            }
    }
}
}
@media all and (min-width:768px){
    #hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        .tittle{
            font-size: var(--size-10);
            padding: var(--size-12);
        }
        .benefitsFlex{
            flex-direction: column;
            gap: var(--size-10);
            padding-bottom: var(--size-8);

            .benefits{
            font-weight: 700;
        }
    }
        .btnTrial{
            margin-bottom: var(--size-8);
            padding: var(--size-4) var(--size-10);
            font-size: var(--size-6);
        }
        .help{
            width: 100%;
            .tittle{
                padding: var(--size-8) 0;
                color:#fff;
                font-size: var(--size-6);
                font-weight: 500;
            }
            .flex{
                gap: var(--size-10);
                justify-content: center;
                .customers{
                    width: 20%;

        }
    }
        }
    }
}
@media all and (min-width:1100px){
    #hero{
        .tittle{
            font-size: var(--size-12);
            padding: var(--size-12) var(--size-16);
        }
        .benefitsFlex{
              .benefits{
            font-size: var(--size-6);
        }
    }
        .help{
            .tittle{
                font-size: var(--size-10);
            }
    }

}
}
@media all and (min-width:1600px){
    #hero{
        .tittle{
            font-size: var(--size-16);
        }

}
}