@font-face {
    font-family: Montserrat;
    src: url(fonts/static/Outfit-ExtraLight.ttf);
}
#UXTeam{
    // padding: 0 var(--size-8);
    text-align: center;

.tittle{
        padding: 2rem 0;
        color:#000;
        font-size: var(--size-6);
        font-weight: 700;
        line-height: 1.15;
        .detail{
            color:var(--orange-color);
        }
}
p{
    padding: 0 0 2rem 0;
    font-weight: 500;
}
.article{
    .svg{
        width: 50%;
    }
        .littleTittle{
            font-weight: 700;
        }
}
}
@media all and (min-width:768px){
    #UXTeam{
    .tittle{
        font-size: var(--size-8);
}
p{
    font-size: var(--size-5);
}
.article{
    .svg{
        width: 40%;
    }
    .littleTittle{
        font-size: var(--size-5);
    }
} 
}
}
@media all and (min-width:1100px){
    #UXTeam{

        .tittle{
                font-size: var(--size-10);
                padding-bottom: var(--size-8);

        }
        p{
            font-size: var(--size-6);
            padding-bottom: var(--size-8);

        }
        .articleGrid{
            padding: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: var(--size-4);
        }
            .article{
                .svg{
                    width: 200px;
                }
                .text{
                    .littleTittle{
                        font-size: var(--size-7);
                        padding-bottom: var(--size-4);
                    }
            }
            }
    }
}
@media all and (min-width:1100px){
    #UXTeam{

        .tittle{
                font-size: var(--size-10);
                padding: var(--size-23) 0 var(--size-10) 0;

        }
        p{
            font-size: var(--size-6);
            padding-bottom: var(--size-8);
        }
        .articleGrid{
            padding: 0 var(--size-4) 0 var(--size-4);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: var(--size-4);
        }
            .article{
                .svg{
                    width: 200px;
                }
                .text{
                    .littleTittle{
                        font-size: var(--size-7);
                        padding-bottom: var(--size-4);
                    }
            }
            }
    }
}
