#heropage{
    text-align: center;
    background-color: #E0EAF3;

    .tittle{
        font-weight: 700;
        color: #1D1D1B;
        padding: 1rem 1rem;
             font-size: 2rem;
            text-align: center;
        .detail{
            color:#F86642;
        }
    }
    .benefits{
        padding-bottom: 1rem;
        display: flex;
        flex-direction: row;
        gap:0.5rem;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        .check{
            color:#F86642;
        }
    }
    .btnTrial{
        all:unset;
        margin-bottom: 2rem;
        border-radius: 15px;
        backdrop-filter: blur(20px);
        background: linear-gradient((91.39deg, rgba(248, 102, 66, 0.75) 18.73%, rgba(248, 102, 66, 0.9) 100%));

        color:#fff;
        padding: 0.5rem 1.5rem;
        text-transform: uppercase;
        font-weight: 500;
        cursor: pointer;
    }
    .people{
        width: 70%;
    }
    .help{
        background-color: #292526;
        .tittle{
            padding: 2rem 0;
            color:#fff;
            font-size: 1.5rem;
            font-weight: 500;
        }
        .flex{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .customers{
                width: 25%;
                border-right: solid 1px #F86642;
            }
    }
}
}