@forward 'reset.css';
@forward './modules/_variables';
@forward "./modules/_header";
@forward "./modules/_heropage";
@forward './modules/UXTeam';
@forward './modules/signUp';



@font-face {
    font-family: Montserrat;
    src: url(fonts/static/Outfit-ExtraLight.ttf);
  }

  * {
    box-sizing: border-box;
  }

  
  html {
    width: 100vw;
  }

  body{
    margin: 0;
    // padding: 0 var(--size-8);
    font-family: Montserrat;
  }

