@forward 'reset.css';
@forward './modules/_variables';
@forward "./modules/_header";
@forward "./modules/_heropage";
@forward './modules/UXTeam';
@forward './modules/signUp';
@forward './modules/UXDesign';

@font-face {
    font-family: Montserrat;
    src: url(fonts/static/Outfit-ExtraLight.ttf);
  }

  * {
    box-sizing: border-box;
  }
  
  html {
    width: 100vw;
  }

  body{
    margin: 0;

    font-family: Montserrat;
  }
// @media all and (min-width:768px){ 
//   body{
//     padding: 0 var(--size-20);
//   }
// }

